body{
	align-items:center;
	display:felx;
	flex-direction:column;
	
}


container{
	    .container {
      background: #ffffff;
      padding: 25px;
      border-radius: 10px;
      width: 320px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
}
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

  input {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
      outline: none;
    }

   button {
      padding: 10px;
      font-size: 15px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    h3 {
      margin-top: 20px;
      font-size: 14px;
      word-break: break-all;
      color: #333;
    }
